@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #353836;
  color: white;
  font-family: "Poppins", sans-serif;
}

header a {
  text-decoration: none;
}

header {
  padding: 0 20px;
  background-color: #1f1e1d;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

#brand {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  letter-spacing: 3px;
  align-items: center;
}

#brand a {
  color: #98500E;
}

nav ul {
  list-style: none;
  height: 100%;
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: space-around;
}
.mobile-menu ul{
    list-style: none;
    height: 100%;
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: space-around;  
}
ul a {
  color: white;
}

ul li {
  padding: 5px;
  margin-left: 10px;
}

nav ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
}

.mobile-menu li {
  margin-bottom: 10px;
}

body, html{
	height:100%;
	margin:0;
  font-family: "Poppins", sans-serif;
	font-weight: 400;
	line-height: 1.8em;
	color: #666;
}


.pimg1, .pimg2, .pimg3, .pimg4
{
	position: relative;
	opacity: 0.70;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;


/*
   fixed = parallax
   scroll = normal
*/
	background-attachment: fixed;
}

.pimg1{
	background-image: url('/images/haile.jpg');
	min-height: 100%;
}

.pimg2{
	background-image: url('/images/nat.PNG');
	min-height: 100%;
}

.pimg3{
	background-image: url('/images/arba-minch2.jpg');
	min-height: 100%;
}
.pimg4{
	background-image: url('/images/other.jpg');
	min-height: 100%;
}
.pimg4 h1 {
  height:100%;
	margin:0;
	font-size:25px;
	font-family: "Lato", sans-serif;
	font-weight: 400;
	line-height: 1.8em;
  padding: 15%;
  color: rgb(255, 255, 255);
}

.pimg4 h1 ul{
  background-color: rgb(131, 21, 21);
	
}
.section
{
	text-align: center;
	padding: 50px 80px;
}

.section-light
{
	background-color: #f4f4f4;
	color: #666;

}
.section-dark
{
	background-color: #2a2e34;
	color: #ddd;
}

.ptext
{
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	color: #000;
    font-size: 37px;
    font-weight: bold;
	letter-spacing: 8px;
	text-transform: uppercase;
}

.ptext .border
{ 
	background-color: rgb(131, 21, 21);
	color: #000;
	padding: 20px;
}

.ptext .border.trans{
    background-color: transparent;
}
