@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
{
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section 
{
    display: block;
}
ol,ul
{
    list-style:none;margin:0px;padding:0px;
}
blockquote,q
{
    quotes:none;
}
blockquote:before,blockquote:after,q:before,q:after
{
    content:'';
    content:none;
}
table
{
    border-collapse:collapse;
    border-spacing:0;
}
/*--start editing from here--*/
a
{
    text-decoration:none;
}
.txt-rt
{
    text-align:right;
}
/* text align right */
.txt-lt
{
    text-align:left;
}
/* text align left */
.txt-center
{
    text-align:center;
}
/* text align center */
.float-rt
{
    float:right;
}
/* float right */
.float-lt
{
    float:left;
}
/* float left */
.clear
{
    clear:both;
}
/* clear float */
.pos-relative
{
    position:relative;
}
/* Position Relative */
.pos-absolute
{
    position:absolute;
}
/* Position Absolute */
.vertical-base
{
    vertical-align:baseline;
}
/* vertical align baseline */
.vertical-top
{
    vertical-align:top;
}
/* vertical align top */
nav.vertical ul li
{
    display:block;
}
/* vertical menu */
nav.horizontal ul li
{
    display: inline-block;
}
/* horizontal menu */
img
{
    max-width:100%;
}
/*--end reset--*/

body {
  /* background-color: #353836; */
  color: white;
  background-image: url('./images/booking-back.jpg');
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: darken;
  font-family: "Poppins", sans-serif;
}

header a {
  text-decoration: none;
}

header {
  padding: 0 20px;
  background-color: #1f1e1d;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

#brand {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  letter-spacing: 3px;
  align-items: center;
}

#brand a {
  color: #98500E;
}

nav ul {
  list-style: none;
  height: 100%;
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: space-around;
}
.mobile-menu ul{
    list-style: none;
    height: 100%;
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: space-around;  
}
ul a {
  color: white;
}

ul li {
  padding: 5px;
  margin-left: 10px;
}

nav ul li:hover {
    transform: scale(1.1);
  transition: 0.3s;
}

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
}

.mobile-menu li {
  margin-bottom: 10px;
}

.section-1{
    width: 50%;
    background: #1f1e1d;
    margin: 0 auto;
    position: relative;
    padding: 3em 3em 3.5em;
}
.booking-form h2{
    text-align: center;
    font-size: 30px;
    color: #fff;
    margin-bottom: 1em;
    font-weight: 500;
    letter-spacing: 7px;
}

h1
{
    font-size: 54px;
    font-weight: 100!important;
    color: #fff;
    height: 100px;
    align-items: center;
    word-spacing: 11px;
    letter-spacing: 5px;
    margin: 0.5em 0 0.5em;
    text-align: center;
}
/* h1 span
{
    color: #ea2e3e!important;
    border: 7px solid rgba(1, 60, 166, 0.86);
    padding: 0 7px 0 12px;
} */
.book-form input[type="text"], .book-form input[type="email"], select#country, select#country1, input#datepicker
{
    width: 86.8%!important;
    color: #fff;
    font-size: 0.9em;
    letter-spacing: 2px;
    padding: 10px 10px 10px 50px;
    outline: none;
    background: rgba(255, 255, 255, 0);
    border: none;
    border: 1px solid rgba(255, 255, 255, 0.47);
}
.book-form
{
       margin: 0em 0;
	   width:100%
}
.booking-form{
    padding: 2em;
}
.book-form input[type="text"], .book-form input[type="email"], select#country, select#country1, input#datepicker
{
    width: 86%!important;
    color: #fff;
    font-size: 0.8em;
    letter-spacing: 2px;
    padding: 10px 10px 10px 50px;
    outline: none;
    background: rgba(255, 255, 255, 0);
    border: none;
    border: 1px solid rgba(255, 255, 255, 0.47);
}
.first-name ,.lastname , .phone-number, .email , .book-arrival ,.book-departure ,.rooms{
    margin: 10px;
}
.registration-from{
    padding: 2em;
}
select#country
{
    width: 100%!important;
}
select#country option
{
	background:#000;
}
.book-form .form-text,.book_date,.section_room
{
    position: relative;
} 
.book-form input[type="submit"] 
{
    text-transform: capitalize;
    background: white;
    color: rgb(0, 0, 0);
    padding: 0.7em 0.2em;
    border: none;
    border: 2px solid #98500E;
    font-weight: bold;
    font-size: 1.1em;
    margin-top: 1.5em;
    width: 29%;
    float: right;
    outline: none;
    letter-spacing: 3px;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
    cursor: pointer;
}
.book-form input[type="submit"]:hover
{
    background:  #98500E;
  transition: .5s;
}
.book-form input[type="reset"]
{
    text-transform: capitalize;
    background: white;
    color: rgb(0, 0, 0);
    padding: 0.7em 0.2em;
    border: none;
    border: 2px solid #98500E;
    font-weight: bold;
    font-size: 1.1em;
    margin-top: 1.5em;
    width: 29%;
    float: left;
    outline: none;
    letter-spacing: 3px;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
    cursor: pointer;
}
.book-form input[type="reset"]:hover
{
    background:  #98500E;
    transition: .5s;
}
.book-form ::-webkit-input-placeholder
{
	color:#fff !important;
}
.book-form :-moz-placeholder
{ /* Firefox 18- */
	color:#fff !important; 
}
.book-form ::-moz-placeholder
{  /* Firefox 19+ */
	color:#fff !important;
}
.book-form :-ms-input-placeholder
{  
	color:#fff !important;
}